<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>APERO Tests</title>
    <style>
      table {
        width:75%;
      }
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 15px;
        text-align: left;
      }
      #t01 tr:nth-child(even) {
        background-color: #eee;
      }
      #t01 tr:nth-child(odd) {
       background-color: #fff;
      }
      #t01 th {
        background-color: white;
        color: black;
      }
    </style>
  </head>
  {# TODO: loop outputs with new structure #}
  <body>
    <h3>Preprocessing Recipe Test #1</h3>
    <p><b>Setup: {{ setup }}</b><br>
    <p><b>Instrument: {{ instrument }}</b><br>
    <p><b>Date: {{ date }}</b><br>
    <br>
    <p>Script: cal_preprocessing_{{ instrument.lower() }}.py<br>
    <p>Output files: {{ output_list[0] }}<br>
    <p><a href='https://github.com/njcuk9999/apero-drs#81-preprocessing-recipe'>Link</a> to Preprocessing Recipe description</p>
    <br></br>
    <table id="t01">
      <colgroup>
         <col span="1" style="width: 5%;">
         <col span="1" style="width: 55%;">
         <col span="1" style="width: 5%;">
         <col span="1" style="width: 30%;">
         <col span="1" style="width: 5%;">
      </colgroup>
      <tr>
        <th>Check</th>
        <th>Description</th>
        <th>Result</th>
        <th>Comments</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>1</td>
        <td># of raw files in {{ raw_path }}</td>
        <td>{{ raw_num }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td># of pp files in {{ pp_path }}</td>
        <td>{{ pp_num }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> </td>
        <td>Check 2 == Check 1?</td>
        <td bgcolor={{ color_stop1 }}>{{ result_stop1 }}</td>
        <td>{{ comment_stop1 }}</td>
        <td>{{ inspect_stop1 }}</td>
      </tr>
      <tr>
        <td>3</td>
        <td># of pp files in {{ pp_path }}/*/index.fits </td>
        <td>{{ pp_num_indexfits }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> </td>
        <td>Check 3 == Check 2?</td>
        <td bgcolor={{ color_stop2 }}>{{ result_stop2 }}</td>
        <td>{{ comment_stop2 }}</td>
        <td>{{ inspect_stop2 }}</td>
      </tr>
      <tr>
        <td>4</td>
        <td># of time cal_preprocess_{{ instrument.lower() }}.py was called</td>
        <td>{{ pp_num_logfits }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td># of unique odometers preprocessed according to {{ pp_path }}/*/log.fits</td>
        <td>{{ pp_num_logfits_unique }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> </td>
        <td>Check 5 == Check 2?</td>
        <td bgcolor={{ color_stop3 }}>{{ result_stop3 }}</td>
        <td>{{ comment_stop3 }}</td>
        <td>{{ inspect_stop3 }}</td>
      </tr>
      <tr>
        <td>6</td>
        <td># of unique odometers in {{ pp_path }}/*/log.fits that failed one or more QC</td>
        <td>{{ pp_num_logfits_unique_QCfalse }}</td>
        <td></td>
        <td>{{ inspect_check6 }}</td>
      </tr>
      <tr>
        <td>7</td>
        <td># of unique odometers in {{ pp_path }}/*/log.fits that failed to finish</td>
        <td>{{ pp_num_logfits_unique_ENDEDfalse }}</td>
        <td></td>
        <td>{{ inspect_check7 }}</td>
      </tr>
    </table>
  </body>
</html>
