<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>APERO Tests</title>
    <style>
      table {
        width:75%;
      }
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 15px;
        text-align: left;
      }
      #t01 tr:nth-child(even) {
        background-color: #eee;
      }
      #t01 tr:nth-child(odd) {
       background-color: #fff;
      }
      #t01 th {
        background-color: white;
        color: black;
      }
    </style>
  </head>
  <body>
    <div>
      <a href="../summary.html">Go back</a>
    </div>
    <h3>{{ name }}</h3>
    <p><b>Setup: {{ setup }}</b><br>
    <p><b>Instrument: {{ instrument }}</b><br>
    <p><b>Date: {{ date }}</b><br>
    <br>
    <p>Script: {{ recipe }}.py<br>
    <p>Output files: {{ ', '.join(output_list) }}<br>
    <p>Calibration database entry: {{ ', '.join(calibdb_list) }}<br>
    <p><a href='https://github.com/njcuk9999/apero-drs#88-thermal-correction-recipe'>Link</a> to Thermal Correction description</p>
    <br></br>

    <table id="t01">
      <colgroup>
         <col span="1" style="width: 5%;">
         <col span="1" style="width: 55%;">
         <col span="1" style="width: 15%;">
         <col span="1" style="width: 20%;">
         <col span="1" style="width: 5%;">
      </colgroup>

      <!-- Header column -->
      <tr>
        <th>Check</th>
        <th>Description</th>
        <th>Result</th>
        <th>Comments</th>
        <th>Details</th>
      </tr>

      <!-- Check 1 -->
      <tr>
        <td>1</td>
        <td># of time {{ recipe }}.py was called</td>
        <td>{{ recipe_num_logfits }}</td>
        <td>{{ comments_check1 }}</td>
        <td></td>
      </tr>

      <!-- Check 2 -->
      <tr>
        <td>2</td>
        <td># of time cal_extract_{{ instrument.lower() }} was called by {{ recipe }}.py</td>
        <td>{{ recipe_extract_num_logfits }}</td>
        <td></td>
        <td></td>
      </tr>

      <!-- Check 3 -->
      <tr>
        <td>3</td>
        <td># of outputs in {{ reduced_path }}</td>
        <td>
        {% for pattern, num in output_num_total.iteritems() %}
          {{ pattern }}: {{ num }}<br>
        {% endfor %}
        </td>
        <td></td>
        <td></td>
      </tr>

      <!-- Check 4 -->
      <tr>
        <td>4</td>
        <td># of unique outputs in {{ reduced_path }}</td>
        <td>
        {% for pattern, num in output_num_unique.iteritems() %}
          {{ pattern }}: {{ num }}<br>
        {% endfor %}
        </td>
        <td></td>
        <td></td>
      </tr>

      <!-- Stop 1 -->
      <tr>
        <td></td>
        <td>Check 4 == Check 2?</td>
        <td bgcolor={{ dict_stop1.color }}>{{ dict_stop1.result }}</td>
        <td>{{ dict_stop1.comment }}</td>
        {% if dict_stop1.inspect != '' %}
          <td><a href='{{ dict_stop1.inspect }}'>Inspect</a></td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <!-- Check 5 -->
      <tr>
        <td>5</td>
        <td># of entry in {{ reduced_path }}/log.fits that failed one or more QC</td>
        <td>{{ log_qc_failed.shape[0] }}</td>
        <td>{{ comments_check5 }}</td>
        {% if inspect_check5 != '' %}
          <td><a href='{{ inspect_check5 }}'>Inspect</a></td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <!-- Check 6 -->
      <tr>
        <td>6</td>
        <td># of entry in {{ reduced_path }}/log.fits that failed to finish</td>
        <td>{{ log_ended_false.shape[0] }}</td>
        <td>{{ comments_check6 }}</td>
        <td></td>
      </tr>

      <!-- Check 7 -->
      <tr>
        <td>7</td>
        <td># of {{ ', '.join(calibdb_list) }} entry in {{ calibdb_path }}/master_calib_{{ instrument }}.txt</td>
        <td>
        {% for key, num in output_num_entry.iteritems() %}
          {{ key }}: {{ num }}<br>
        {% endfor %}
        </td>
        <td>{{ comments_check7 }}</td>
        <td></td>
      </tr>

      <!-- Check 8 -->
      <tr>
        <td>8</td>
        <td># of outputs in {{ calibdb_path }}</td>
        <td>
        {% for key, num in output_num_calibdb.iteritems() %}
          {{ output_dict[key] }}: {{ num }}<br>
        {% endfor %}
        </td>
        <td></td>
        <td></td>
      </tr>

      <!-- Stop 2 -->
      <tr>
        <td></td>
        <td>Check 8 == Check 7?</td>
        <td bgcolor={{ dict_stop2.color }}>{{ dict_stop2.result }}</td>
        <td>{{ dict_stop2.comment }}</td>
        {% if dict_stop2.inspect != '' %}
          <td><a href='{{ dict_stop2.inspect }}'>Inspect</a></td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <!-- Check 9 -->
      <tr>
        <td>9</td>
        <td># of outputs in {{ reduced_path }} that used the bad pixel, loc, shape master, shape,
        flat/blaze calibration files from another night</td>
        <td>{{ missing_previous.shape[0] }}</td>
        <td>{{ comments_check9 }}</td>
        {% if inspect_check9 != '' %}
          <td><a href='{{ inspect_check9 }}'>Inspect</a></td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

    </table>
  </body>
</html>
